@font-face {
    font-family: 'TT2020';
    src: url("https://ctrlcctrlv.github.io/TT2020/dist/TT2020Base-Regular.woff2") format("woff2");
}

$background-color__primary: black;
$background-color__secondary: #CBC1C2; /*bleu-gris*/;
$color__alternate: #0F5BC7; /*bleu Nicolas*/
$font-color__primary: #D3D3D3; /*blanc argent*/
$font-color__secondary: #DDBCBD; /*rose anonyme*/
html
{
    width: 100%;
    background-color: $background-color__primary;
    font-family: 'TT2020';
    color: white;
}
a
{
    text-decoration: none;
    color: white;
}
header
{
    margin-bottom: 4rem;
    & .banner
    {
        width: 100%;
        font-size: 7rem;
        text-align: center;
        font-family: 'TT2020';
        border-bottom: 0.05rem $font-color__primary solid;
        margin-bottom: 0.5rem;
        &__title
        {
            color: $font-color__primary;
        }
    }
    & .nav-flexbox
    {
        margin: 1rem 0rem 3rem 0rem; 
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        &__box
        {
            font-size: 2rem;
            margin: 0rem 0.5rem 1rem 0.5rem;
            border-bottom: $font-color__primary 0.05rem solid;
            background: rgb(169,175,52);
            background: linear-gradient(29deg, rgba(169,175,52,0.4318102240896359) 0%, rgba(232,211,8,0.48503151260504207) 50%);
            background-position: left;
            background-size: 0rem 0rem;
            background-repeat: no-repeat;
            &:hover 
            {
                animation: nav-hover-effect .5s both ease;
            }
@keyframes nav-hover-effect 
{
    from
    {
        background-size: 0.2rem 1.5rem ;
        transform: scale(1);
    }
    to
    {
        background-size: 100% 40%;
        transform: scale(1.2) skew(10deg, -0.1deg);
    }
}

            &--social-network
            {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                width: 20rem;
                border: none;
                background: none;
                &:hover
                {
                    animation: none;
                }
                &__box
                {
                    width: fit-content;
                    transition: transform .25s ease-in;
                    &:hover
                    {
                        transform: scale(1.3);
                    }
                        &--facebook
                        {
                            color: #3b5998;
                        }
                        &--twitter
                        {
                            color: #00acee;
                        }
                        &--youtube
                        {
                            color:#FF0000;
                        }
                        &--discord
                        {
                            color: #7289da;
                        }
                }
            }
        }
    }
}
main
{
    margin: 6rem 0rem 0rem 0rem;
    & .page-title
    {
        font-size: 3rem;
        text-align: center;
    }
    & .trailer-container
    {
        text-align: center;
        margin: 1rem 0rem 2rem 0rem;
    }
    & .game-description
    {
        text-align: center;
        font-size: 1.5rem;
        margin: 5rem 0.5rem 6rem 0.5rem;
            &__color
            {
                &--1
                {
                    color: white;
                    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 0px 0px 0px rgba(229,229,229,0);
                }
                &--2
                {
                    color: red;
                }
                &--3
                {
                    color: $font-color__secondary;
                    text-shadow: 0px 11px 20px #E5E5E5;
                }
            }
    }
    .button-primary
    {
        text-align: center;
        margin-bottom: 1rem;
        &__push
        {
            font-size: 3rem;
            border-radius: 4rem;
            padding: 1rem;
            background: rgb(175,187,18);
            background: rgb(217,46,76);
            background: rgb(217,46,76);
            background: rgb(217,46,46);
            background: radial-gradient(circle, rgba(217,46,46,1) 0%, rgba(171,167,56,1) 14%);
            color: $font-color__secondary;
        }
    }
}
footer
{
    width: 100%;
    background-color: $background-color__secondary;
    height: 7rem;
    margin-top: 3rem;
    & .about-flexbox
    {
        font-size: 1.2rem;
        &__box
        {
            color: black;
        }
    }
}